body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: blanchedalmond;
font-size: 16px;
padding-left: 15%;
padding-right: 15%;


}
img { max-width: 100%;
    height: auto;

}
.flex-container {

    background-color: darkseagreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding: 10px;


}
.flex-container img {

height: 150px;
padding:10px;
border-style:solid;
margin:20px;
background-color: white;


}
nav ul{
background-color: darksalmon;
overflow:hidden;
list-style-type: none;


}
nav a{

    float:right;
    display:block;
    color:white;
    text-align:centre;
    padding:10px;
    text-decoration:none;



}

nav a hover{
    background-color: brown;

}

#active{
    background-color: darkorchid;


}